body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin: 0;
  }
  .main{
    margin-top: 20px;
    background-image: url("./img/main6.jpg");
    background-size:contain;
    height: 450px;
 margin-bottom: 50px;

}
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }

  h2 {
    color:rgb(209, 180, 16);
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  /* CSS styles for the video player */
  #video-player {
    width: 50%;
  }
  h1 {
    color:deep rgb(26, 26, 150);
    text-align: center;
  }
  