body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin: 0;
  }
  .main{
    margin-top: 20px;
    background-image: url("./img/main6.jpg");
    background-size:cover;
    height: 450px;
 margin-bottom: 50px;

}
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }

  h2 {
    color:rgb(209, 180, 16);
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  /* CSS styles for the video player */
  #video-player {
    width: 50%;
  }
  h1 {
    color:deep rgb(26, 26, 150);
    text-align: center;
  }
  p {
    line-height: 1.5;
  }
  .footer{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    color: #f9f9ff;
    background-color: rgb(3, 3, 43);
    margin: 15px;
    width: 100%
  }
  .footer >*{
    flex: 1 0px;
  }
  .left-area{
    margin-right: -9em;
  }
  
  .footer h2{
    font-size: 24px;
    font-weight: 600;
    text-decoration: uppercase;
    color:#d19f53;
    letter-spacing: 3px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
    
  }
  .footer li{
    line-height: 2em;
    color: #f9f9ff;
    font-size: 17px;
    text-align: justify;
  }
  .footer a{
    text-decoration: none;
  }
  
  .cup a{
    color: #f9f9ff;
    font-size: 15px;
  }
  .cup a:hover{
    color: #f9f9ff;
    font-size: 15px;
  }
  
  
  
  
  
  
  
  